<div class="container" id="main-container">
  <form class="search">
    <!-- use (ngModelChange) to listen everytime input change something in search -->
     <input class="form-search" type="search" (ngModelChange)="searchEnrolment(input.value)" #input="ngModel" ngModel
     name="input" placeholder="Search user, course..." aria-label="Search">
     <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
 </form>    
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Photo</th>
              <th scope="col">User</th>
              <th scope="col">Course</th>
              <th scope="col">Photo</th>
              <th scope="col">Start At</th>
              <th scope="col">End At</th>
              <th scope="col">Create At</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- repeat <tr> tag with *ngFor loop to get all student -->
            <tr class ="table-tr-hover" *ngFor="let enrolment of listEnrolment">
              <td><img src="http://courseenrollmentmanagementapplicaion-env.eba-tkyegmya.ap-southeast-1.elasticbeanstalk.com/api/user/show/{{enrolment?.user?.id}}/download/image"></td>
              <td>{{enrolment?.user?.name}}</td>
              <td>{{enrolment?.course?.name}}</td>
              <td><img src="http://courseenrollmentmanagementapplicaion-env.eba-tkyegmya.ap-southeast-1.elasticbeanstalk.com/api/course/show/{{enrolment?.course?.id}}/download/image"></td>
              <td>{{enrolment?.course?.start_at}}</td>
              <td>{{enrolment?.course?.end_at}}</td>
              <td>{{enrolment?.create_at}}</td>
              <td>
                <!-- Delete Modal -->
                <button  class="btn btn-outline-danger" (click)="getEnrolment(enrolment)" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                <!-- Edit Modal -->
                <!-- <button  class="btn btn-outline-primary" (click)="getEnrolment(enrolment)"  data-bs-toggle="modal" data-bs-target="#editModal">Edit</button> -->
              </td>
            </tr>
          </tbody>
        </table>
</div>
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Enrolment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form #addForm="ngForm" id="main-form-add" (ngSubmit)="addEnrolment(addForm)">
            <div class="form-group">
                <label for="userId">User</label>
                <select class="form-select" *ngIf="isUser ; else admin" ngModel={{user?.id}} name ="userId" aria-label="Default select example" required>
                  <option  [value]="user?.id" selected disabled hidden>{{user?.name}}</option> -->
                </select>
                <ng-template #admin>
                  <select class="form-select" ngModel name ="userId" aria-label="Default select example" required>
                    <option  value ="" selected disabled hidden>Choose a user</option> -->
                    <option  *ngFor="let user of listUser" [value]="user?.id">{{user?.name}}</option>
                </select>
                </ng-template>               
            </div>
            <div class="form-group">
                <label for="courseId">Course</label>
                <select class="form-select" ngModel name ="courseId" aria-label="Default select example" required>
                    <option  value ="" selected disabled hidden>Choose a course</option>
                    <option  *ngFor="let course of listCourse" [value]="course?.id">{{course?.name}}</option>
                </select>
            </div>
              <div class="modal-footer">
                  <button type="button" id="add-student-close" id="btn-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid"  type="submit" class="btn btn-primary" >Save changes</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Enrolment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete this enrolment ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-no-delete" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
    
        <button (click)="deleteEnrolment(enrolment?.user?.id, enrolment?.course?.id)" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>



