<div class="container" id="main-container">
  <form class="search">
     <!-- use (ngModelChange) to listen everytime input change something in search -->
      <input class="form-search" type="search" (ngModelChange)="searchUser(input.value)" #input="ngModel" ngModel
      name="input" placeholder="Search..." aria-label="Search">
      <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
  </form>    
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Photo</th>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Role</th>
              <th scope="col">Register At</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- repeat <tr> tag with *ngFor loop to get all student -->
            <tr class ="table-tr-hover" *ngFor="let user of listUser">
              <!-- <td><img src="http://localhost:8080/api/user/show/{{user?.id}}/download/image"></td> -->
              <td><img src="http://courseenrollmentmanagementapplicaion-env.eba-tkyegmya.ap-southeast-1.elasticbeanstalk.com/api/user/show/{{user?.id}}/download/image"></td>
              <td>{{user?.id}}</td>
              <td>{{user?.name}}</td>
              <td>{{user?.email}}</td>
              <td>{{user?.address}}</td>
              <td>{{user?.role?.name}}</td>
              <td>{{user?.register_at}}</td>
              <td *ngIf="user?.enable; else disable">Enable</td>
              <ng-template #disable>
                <td>Disable</td>
              </ng-template>
              <td>
                <!-- Delete Modal -->
                <button  class="btn btn-outline-danger" (click)="getUser(user)" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                <!-- Edit Modal -->
                <button  class="btn btn-outline-primary" (click)="getUser(user)" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
</div>
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form #addForm="ngForm" id="main-form-add" (ngSubmit)="addUser(addForm)">
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" ngModel name="name" class="form-control" id="namee" placeholder="Name" required>
              </div>
              <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" ngModel name="email" class="form-control" id="emaill" placeholder="Email" required>
              </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ngModel name="password" class="form-control" id="passwordd" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" ngModel name="address" class="form-control" id="addresss" placeholder="Address" required>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-select" ngModel name ="roleId"  *ngIf="userLogin?.role?.name == 'ADMIN' ;else addRole"  aria-label="Default select example" required>
                        <option  value ="" selected disabled hidden>Choose the role</option>
                        <option  [value] = "2">ADMIN</option>
                        <option  [value] = "3">USER</option>
                    </select>
                    <ng-template #addRole>
                      <select class="form-select" ngModel name ="roleId"  aria-label="Default select example" required>
                        <option  value ="" selected disabled hidden>Choose the role</option>
                          <option  *ngFor="let role of listRole" [value] = "role?.id">{{role?.name}}</option>
                      </select>
                  </ng-template>   
                </div>
               
                <div class="form-group">
                    <label for="enable">Status</label>
                    <select class="form-select" ngModel name ="enable" aria-label="Default select example" required>
                        <option  value ="" selected disabled hidden>Choose the status</option>
                        <option  [ngValue]="true">Enable</option>
                        <option  [ngValue]="false">Disable</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" accept="image/png, image/jpeg, image/gif" id="imagee" placeholder="Image"  (change)="fileSelected($event)" required>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add-student-close" id="btn-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid"  type="submit" class="btn btn-primary" >Save changes</button>
                </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete user {{user?.name}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-no-delete" class="btn btn-secondary" data-bs-dismiss="modal">No</button>  
        <button (click)="deleteUser(user?.id)" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal  -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <input type="hidden" ngModel={{user?.id}} name ="id" id="id" class="form-control" >
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel={{user?.name}} name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="text" ngModel={{user?.email}}  name="email"  class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
              <label for="address">Address</label>
              <input type="text" ngModel={{user?.address}} name="address" class="form-control" id="address" placeholder="Address" required>
          </div>
          <div class="form-group">
              <label for="role">Role</label>  
                  <select class="form-select" ngModel={{user?.role?.id}} *ngIf="userLogin?.role?.name == 'ADMIN';else editRoleAdmin" name ="roleId" aria-label="Default select example" required>
                      <option  [value]="user?.role?.id" selected disabled hidden>{{user?.role?.name}}</option>
                      <option  [value] = "2">ADMIN</option>
                      <option  [value] = "3">USER</option>
                  </select>
                  <ng-template #editRoleAdmin>
                    <select class="form-select" ngModel={{user?.role?.id}} name ="roleId" aria-label="Default select example" required>
                      <option  value ="" selected disabled hidden>{{user?.role?.name}}</option>
                      <option  *ngFor="let role of listRole" [value] = "role?.id">{{role?.name}}</option>

                    </select> 
                  </ng-template>            
          </div>
          <div class="form-group">
              <label for="active">Status</label>
                <select class="form-select" ngModel={{user?.enable}} name ="enable"  aria-label="Default select example" required>
                  <option [value]="true" selected disabled hidden *ngIf="user?.enable; else disable">Enable</option>
                  <ng-template #disable>
                    <option [value]="false"  selected disabled hidden>Disable</option>
                  </ng-template>
                  <option  [ngValue]="true">Enable</option>
                  <option  [ngValue]="false">Disable</option>
              </select>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control" accept="image/png, image/jpeg, image/gif"  placeholder="Image"  id="image" (change)="fileSelected($event)" required>
          </div>
          <div class="modal-footer">
              <button type="button" id="btn-edit-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button (click)="updateUser(updateForm)"  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>




